#game_box
{
	height: 520px;
	width: 520px;
	border: solid black 5px;
	margin: auto;
}

#header
{
	margin-left: 38%;
}

.tile
{
	height: 250px;
	width: 250px;
	border: solid black 2px;
	margin: 3px;
	float: left;
}

button
{
	/*height: 250px;
	width: 250px; 
	border: solid black 1px;*/
	height: 250px;
	width: 250px;
	/*border: solid black 3px;*/
	/*margin: 5px;*/
	/*float: left;*/
	opacity: .5;
}
